html body {
  min-height: 100%;
  color: black;
}

body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3, h4 {
  color: tomato;
  margin:0;
}

h3 {
  margin-top:5px;
}

h4 {
  margin-bottom:9px;
}

.rect:hover {
 fill :#FF5733
}

#tooltip {
  width:auto;
  height: auto;
  visibility: hidden;
  position: absolute;
  padding: 5px;  
  font: 12px sans-serif;
  background: linear-gradient(0.125turn, #7ad9f3, #646ac7);
  border: 0px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgb(62, 87, 215);
  pointer-events: none;
}

#legend {
  border: 3px;
  border-color: grey;
  font-family: sans-serif;
}

text {
  font-size: 10px
}